In [1]:
import sys
sys.path.insert(0, '../')

In [2]:
from src.data_builder.dataset import hmDataset
from src.config import _C as cfg
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/home/giorgio/Scrivania/Kaggle/hubmap/data/train/0.25_0.25_320_160_train/coord.csv')

In [4]:
data

      Unnamed: 0    cx    cy        cv   image_id
0              0  3062   649  0.331045  2f6ecfcdf
1              1  3224   649  0.283164  2f6ecfcdf
2              2  2740   812  0.256768  2f6ecfcdf
3              3  2901   812  0.635615  2f6ecfcdf
4              4  3062   812  0.806436  2f6ecfcdf
...          ...   ...   ...       ...        ...
999          276  1137  3964  0.629199  aaa6a05cc
1000         277  1300  3964  0.419951  aaa6a05cc
1001         278  1463  3964  0.258350  aaa6a05cc
1002         279   811  4130  0.302461  aaa6a05cc
1003         280   974  4130  0.316191  aaa6a05cc

[1004 rows x 5 columns]

In [5]:
data = hmDataset(
    df = data,
    img_ids=['2f6ecfcdf'],
    cfg=cfg
)

In [8]:
img, mask = data[0]

In [10]:
mask.shape

(320, 320)